.containersAside {
    display: flex;
    flex-direction: row;
    margin: 0 30px 0 30px;
    justify-content: space-evenly;
    color: #458298;
}

.boxGreen {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #EDF9F7;
    padding: 20px 10px;
    Border: 2px solid #2B9C8F;
    color: #458298;
}

.boxBlue {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #EFF4F7;
    padding: 20px 10px;
    Border: 2px solid #458298;
    color: #458298;
}

.boxRed {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FCEEEC;
    padding: 20px 10px;
    Border: 2px solid #E14D29;
    color: #E14D29;
}

.greyBoxOuter {
    display: flex;
    flex-direction: row;
    Border: 1px dashed #000000;
    background-color: #EDECEC;
}

.greyBoxTvImg {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
}

.greyBoxSpecs {
    display: flex;
    flex-direction: column;
}


.miniIcon {
    width: 15px;
}

.tvImg {
    width: 180px;
}

.sellButtons button {
    margin-right: 5px;
}